name: autofix.ci  # needed to securely identify the workflow

on:
  pull_request:


permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
           python-version: '>=3.10'

      - name: "Run author update script"
        continue-on-error: true
        run: |
          python3 buildbot/update_authors.py

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
