name: Acpp/clang

on:
  workflow_call:

jobs:

  build_docker:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: repo
          submodules: recursive
          fetch-depth: 0

      - name: Create repository archive
        run: |
          tar -czf repo.tar.gz -C repo .
          cp repo/.github/dockerfiles/phys_test_image_acpp_omp/Dockerfile .

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Container
        uses: docker/build-push-action@v6
        with:
          tags: ci-phys-test-image
          file: Dockerfile
          context: .
          push: false
          outputs: type=docker,dest=/tmp/ci-phys-test-image.tar
          build-args: |
            CLANGVERSION=18

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ci-phys-test-image
          path: /tmp/ci-phys-test-image.tar

  shamrock_phys_test:
    name: run ${{ matrix.testfile }} wz=${{ matrix.worldsize }}
    runs-on: ubuntu-latest
    needs: [ build_docker ]

    strategy:
      matrix:
        include:
          - worldsize: 1
            testfile: sod_tube_sph.py
          - worldsize: 1
            testfile: gsph/sod_tube_gsph.py
          - worldsize: 2
            testfile: gsph/sod_tube_gsph.py
          - worldsize: 1
            testfile: comp_phantom_sedov_1patch.py
          - worldsize: 2
            testfile: comp_phantom_sedov_1patch.py
          - worldsize: 1
            testfile: comp_phantom_sedov_8patch.py
          - worldsize: 2
            testfile: comp_phantom_sedov_8patch.py
          - worldsize: 1
            testfile: sod_tube_godunov.py
          - worldsize: 2
            testfile: sod_tube_godunov.py
          - worldsize: 1
            testfile: sod_tube_godunov_amr.py
          - worldsize: 1
            testfile: sod_tube_zeus.py
          - worldsize: 2
            testfile: sod_tube_zeus.py
          - worldsize: 1
            testfile: advection_godunov.py
          - worldsize: 1
            testfile: reload_old_dump.py
          - worldsize: 1
            testfile: dustybox_godunov.py
          - worldsize: 1
            testfile: dustywave_godunov.py
          - worldsize: 1
            testfile: regression_sph_disc.py
          - worldsize: 1
            testfile: regression_sph_kh.py
          - worldsize: 1
            testfile: regression_godunov_soundwave_3d.py
          - worldsize: 2
            testfile: regression_godunov_soundwave_3d.py
          - worldsize: 1
            testfile: run_sg_compare_error_sph.py
          - worldsize: 1
            testfile: run_compare_shamrock_ph_disc.py
      fail-fast: false


    timeout-minutes: 60
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ci-phys-test-image
          path: /tmp

      - name: Load image
        run: docker load --input /tmp/ci-phys-test-image.tar

      # if run_compare_shamrock_ph_disc.py install gfortran
      - if: ${{ matrix.testfile == 'run_compare_shamrock_ph_disc.py' }}
        run: |
          sudo apt install -y gfortran

      - name: run test
        # see https://github.com/NomicFoundation/edr/pull/1293
        uses: NomicFoundation/docker-run-action@63f044457cfb71a5c63fa589218c89a418565d9c # Fork of v3 with updated Docker (https://github.com/addnab/docker-run-action/issues/62)
        with:
          image: ci-phys-test-image
          run: |
            git clone https://github.com/Shamrock-code/reference-files.git
            mpirun -report-bindings --allow-run-as-root --bind-to socket:overload-allowed \
                --oversubscribe \
                -n ${{matrix.worldsize}} \
                shamrock \
                --sycl-cfg 0:0 \
                --loglevel 1 \
                --rscript /opt/Shamrock_src/exemples/ci_tests/${{ matrix.testfile }}


  shamrock_example_gallery:
    name: run example ${{ matrix.testfile }}
    runs-on: ubuntu-latest
    needs: [ build_docker ]

    strategy:
      matrix:
        include:
          # Ramses examples
          - testfile: "examples/ramses/run_kh.py"
            artifact_name: gallery_ramses_run_kh
          - testfile: "examples/ramses/run_linear_wave_with_bc.py"
            artifact_name: gallery_ramses_run_linear_wave_with_bc
          - testfile: "examples/ramses/run_advect.py"
            artifact_name: gallery_ramses_run_advect

          # SPH examples
          - testfile: "examples/sph/run_circular_disc_lense_thirring.py"
            artifact_name: gallery_sph_run_circular_disc_lense_thirring
          - testfile: "examples/sph/run_circular_disc_central_pot.py"
            artifact_name: gallery_sph_run_circular_disc_central_pot
          - testfile: "examples/sph/run_circular_disc_sink.py"
            artifact_name: gallery_sph_run_circular_disc_sink
          - testfile: "examples/sph/run_kelvin_helmholtz.py"
            artifact_name: gallery_sph_run_kelvin_helmholtz
          - testfile: "examples/sph/run_sph_shear_test.py"
            artifact_name: gallery_sph_run_sph_shear_test
          - testfile: "examples/sph/run_advect_sphere_domain_decomp.py"
            artifact_name: gallery_sph_run_advect_sphere_domain_decomp
          - testfile: "examples/sph/run_sphsetup_logs.py"
            artifact_name: gallery_sph_run_sphsetup_logs

          # Tests CI
          - testfile: "examples/tests_ci/run_compare_shamrock_ph_disc.py"
            artifact_name: gallery_tests_ci_run_compare_shamrock_ph_disc


      fail-fast: false


    timeout-minutes: 60
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ci-phys-test-image
          path: /tmp

      - name: Load image
        run: docker load --input /tmp/ci-phys-test-image.tar

      #### Checkout part ####
      # Checkout merge commit if PR otherwise default
      - name : Reconfigure git
        run:  |
          git config --global --add safe.directory '*'
          git config --global --list
      - uses: actions/checkout@v4
        if: github.event_name == 'pull_request_target'
        with:
          fetch-depth: 0
          submodules: recursive
          ref: "refs/pull/${{ github.event.number }}/merge"

      - uses: actions/checkout@v4
        if: github.event_name != 'pull_request_target'
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Show diff against main
        if: github.event_name == 'pull_request_target'
        run: git diff ${{ github.event.pull_request.base.sha }} HEAD
      #### End Checkout part ####

      - name: run test
        # see https://github.com/NomicFoundation/edr/pull/1293
        uses: NomicFoundation/docker-run-action@63f044457cfb71a5c63fa589218c89a418565d9c # Fork of v3 with updated Docker (https://github.com/addnab/docker-run-action/issues/62)
        with:
          image: ci-phys-test-image
          options: -v ${{ github.workspace }}:/work # map cwd to /work in the container
          run: |
            sudo apt install -y tree
            ls -la /work
            bash /work/doc/sphinx/gen_sphinx_doc_single_example_diff.sh ${{ matrix.testfile }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: ./doc



  shamrock_sphinx_doc:
    name: run sphinx doc
    runs-on: ubuntu-latest
    needs: [ shamrock_example_gallery ]


    timeout-minutes: 120
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ci-phys-test-image
          path: /tmp

      - name: Load image
        run: docker load --input /tmp/ci-phys-test-image.tar

      #### Checkout part ####
      # Checkout merge commit if PR otherwise default
      - name : Reconfigure git
        run:  |
          git config --global --add safe.directory '*'
          git config --global --list
      - uses: actions/checkout@v4
        if: github.event_name == 'pull_request_target'
        with:
          fetch-depth: 0
          submodules: recursive
          ref: "refs/pull/${{ github.event.number }}/merge"

      - uses: actions/checkout@v4
        if: github.event_name != 'pull_request_target'
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Show diff against main
        if: github.event_name == 'pull_request_target'
        run: git diff ${{ github.event.pull_request.base.sha }} HEAD
      #### End Checkout part ####

      # download the artifact from the example gallery
      - name: Download example gallery artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: gallery_*
          path: ./doc
          merge-multiple: true

      - name: run test
        # see https://github.com/NomicFoundation/edr/pull/1293
        uses: NomicFoundation/docker-run-action@63f044457cfb71a5c63fa589218c89a418565d9c # Fork of v3 with updated Docker (https://github.com/addnab/docker-run-action/issues/62)
        with:
          image: ci-phys-test-image
          options: -v ${{ github.workspace }}:/work # map cwd to /work in the container
          run: |
            ls -la /work
            ls -la /work/doc
            bash /work/doc/sphinx/gen_sphinx_doc.sh

      - name: Upload doc artifact
        uses: actions/upload-artifact@v4
        with:
          name: sphinx_doc
          path: doc/sphinx/build/html




  remove-image:
    name: Remove image
    runs-on: ubuntu-latest
    needs: [ build_docker, shamrock_phys_test, shamrock_sphinx_doc]
    steps:
      - uses: geekyeggo/delete-artifact@v5
        with:
          name: ci-phys-test-image
